---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Home from '../components/Home.astro'
import About from '../components/About.astro'
import Experience from '../components/Experience.astro'
import Projects from '../components/Projects.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
---

<Layout title='Jordi Sández - Desarrollador web'>
    <Header />
    <main class='min-h-screen w-full pt-[76px]'>
      <!-- <main class='min-h-screen w-full pt-[76px] relative before:pointer-events-none before:absolute before:inset-0 before:block before:h-full before:w-full before:bg-[url("background.png")] before:bg-cover before:bg-no-repeat before:opacity-5'></main> -->
      <Home />
      <About />
      <Experience />
      <Projects />
      <Contact />
    </main>
    <Footer />
</Layout>
