---
import ContactForm from './ContactForm.astro'
import Section from './Section.astro'
import SectionSubtitle from './SectionSubtitle.astro'
import SectionTitle from './SectionTitle.astro'
---

<Section id='contact'>
    <SectionTitle>Contacto</SectionTitle>
    <SectionSubtitle class="max-w-screen-md mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, perspiciatis nemo? Libero facere sunt, esse, quasi pariatur culpa ipsam consequuntur</SectionSubtitle>
    <ContactForm />
</Section>
