---
import ContactForm from './ContactForm.astro'
import Section from './Section.astro'
import SectionSubtitle from './SectionSubtitle.astro'
import SectionTitle from './SectionTitle.astro'
---

<Section id='contact'>
    <SectionTitle>Contacto</SectionTitle>
    <SectionSubtitle class="max-w-screen-md mx-auto text-center">
        Si quieres ponerte en contacto conmigo, ¡no dudes en hacerlo! Estaré encantado de escuchar tus comentarios, responder a tus preguntas o discutir cualquier proyecto que tengas en mente.
    </SectionSubtitle>
    <ContactForm />
</Section>
