---
import LinkedinIcon from './icons/Linkedin.astro'
import GithubIcon from './icons/Github.astro'
---

<section class='bg-jspurple-darker py-5'>
    <div class='max-w-screen-xl mx-auto px-5'>
        <div
            class='flex flex-col sm:flex-row justify-between items-center text-center sm:text-start'
        >
            <span class='text-jslightgrey text-sm mb-6 sm:mb-0'
            >Designed and built by Jordi Sández - <a
                    href='mailto:jordisandez@gmail.com'
                    class='transition-all text-jswhite hover:text-jsyellow'>jordisandez@gmail.com</a
                ></span
            >
            <ul class='flex flex-row gap-3'>
                <li>
                    <a
                        aria-label='Visita mi perfil en LinkedIn'
                        href='https://www.linkedin.com/in/jordisandez'
                        target='_blank'
                        class='hover:text-jsyellow transition-all'
                    >
                        <LinkedinIcon />
                    </a>
                </li>
                <li>
                    <a
                        aria-label='Accede a mi perfil de GitHub'
                        href='http://github.com/jsandezdev'
                        target='_blank'
                        class='hover:text-jsyellow transition-all'
                    >
                        <GithubIcon />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
