---
import LinkedinIcon from './icons/Linkedin.astro'
import GithubIcon from './icons/Github.astro'
---

<section class="bg-jspurple-darker py-5">
    <div class="max-w-screen-xl mx-auto px-5">
        <div class="flex flex-col sm:flex-row justify-between items-center text-center sm:text-start">
            <span class="text-jslightgrey text-sm mb-6 sm:mb-0">Designed and build by Jordi Sández - <a href="mailto:jordisandez@gmail.com" class="text-jswhite">jordisandez@gmail.com</a></span>
            <ul class="flex flex-row gap-3">
                <li>
                    <a href="https://www.linkedin.com/jordisandez" target="_blank">
                        <LinkedinIcon/>
                    </a>
                </li>
                <li>
                    <a href="http://github.com/jordisandez" target="_blank">
                        <GithubIcon/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
