---
export interface Props {
    id: string
    title: string
    image: string
}

const { id, title, image } = Astro.props
---

<div
    id={id}
    class="fixed top-0 left-0 bottom-0 right-0 p-5 z-[100] w-screen h-screen bg-black/70 flex justify-center items-center animated fadeOut faster"
    style="display: none;"
>
    <button class="modal-close fixed z-[110] top-6 right-8 text-white text-5xl font-bold" type="button">&times;</button>
    <img
        class="max-w-[100%] max-h-[100%] object-cover"
        src={image}
        alt={title}
        title={title}
        loading='lazy'
        decoding='async'
        fetchpriority='high'
    />
</div>
