---
import SectionTitle from './SectionTitle.astro'
import Section from './Section.astro'
import Project from './Project.astro'
import { projects } from '../data/projects.astro'
---

<Section id='projects' background='dark'>
    <SectionTitle>Proyectos</SectionTitle>
    <div class="grid grid-cols-2 gap-4 lg:gap-12 items-start max-w-screen-lg mx-auto">
        { projects.map((project, index) => <Project isEven={index % 2 === 0} project={project}/>) }
    </div>
</Section>
