---
import GradientText from './GradientText.astro'
import TextSeparator from './TextSeparator.astro';
---

<div class={`${Astro.props.class || ''} flex justify-center mb-12 sm:mb-20`}>
    <div>
        <h2 class="text-4xl sm:text-5xl md:text-6xl font-bold mb-4 inline-block"><GradientText><slot/></GradientText></h2>
        <TextSeparator class="block"/>
    </div>
</div>
